<%= render :partial => 'shared/navbar' %>

<div class="container">
    <h1 class="text-center">CONTRATO DE MONITORIA UNIVERSIDAD CATOLICA DE COLOMBIA</h1>
    <p>En Bogotá, Colombia, del  23 de octubre de 2018,La Universidad De Colombia por una parte y en adelante la “Empresa” o el “Empleador”; y por la otra y en adelante el “Trabajador”, estudiante <%= nombre %>,con código <%= codigo %> ha decidido firmar el contrato como Monitor,devengando un descuento en su matricula de 500,000. Estipulando el siguiente Contrato de Trabajo:</p>
    <p><strong>PRIMERO: Relación Laboral. </strong></p>
    <p>El Trabajador desempeñará sus funciones en las oficinas principales del Empleador, como asimismo en todos aquellos lugares dentro y fuera de Santiago y de Chile, en que la gestión de los negocios lo requiera.	</p>
    <p><strong>SEGUNDO:		Desempeño del Cargo.</strong></p>
    <p>El Empleador contrata al Trabajador para desempeñar el cargo y prestar los servicios de monitor lo que comprende todas las labores inherentes a dichas funciones, así como el desarrollo de todos los proyectos o negocios que el Empleador le encomiende.	</p>
    <p><strong>TERCERO:		Jornada de Trabajo. </strong></p>
    <p>Dada la naturaleza del cargo y de los servicios que prestará el Trabajador y de conformidad a lo dispuesto en el Artículo 22 del Código del Trabajo, el Trabajador no se encontrará sujeto a jornada ordinaria o determinada de trabajo, debiendo efectuar sus mejores esfuerzos para el mejor desempeño de su cometido y el logro de los fines propuestos por el Empleador al contratarlo, todos los cuales son conocidos del Trabajador.	</p>
    <p><strong>CUARTO:	Confidencialidad. </strong></p>
    <p>El Trabajador se obliga a guardar total reserva, dentro y fuera de la Empresa, de todos los hechos, antecedentes e informaciones de que tome conocimiento en el ejercicio de sus funciones o derivados de las actividades y negocios del Empleador y sus sociedades relacionadas, lo que considera en general pero no exclusivamente, estudios, desarrollos informáticos, tecnología aplicada y cualquier otro dato o antecedente de propiedad del Empleador y sus sociedades relacionadas, aún después de producida la terminación del presente Contrato. El Trabajador consiente que está prohibida la divulgación, transferencia a cualquier título, comunicación, alteración, modificación o copia de dichos antecedentes e informaciones, así como la utilización indebida o para otros propósitos que no sean sus labores. Además, el Trabajador se obliga a la protección de la información suministrada por el Empleador, debiendo tomar las medidas de seguridad apropiadas para la protección contra el acceso o difusión no autorizados	</p>
    <button class="btn btn-primary">
        <a style="color: white;" href="/dashboard_estudiante/:625667">Acepto todos los terminos y condiciones</a> 
    </button>
</div>